{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1 class="title is-1">{{ page_title }}</h1>

{% if messages %}
<p>
    {% for message in messages %}
    <div class="notification is-{{ message.level_tag }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </div>
    {% endfor %}
</p>
{% endif %}

<p>
{% trans "On this page, you can upload and save public SSH keys that can be used for password-less login to the SSH server." %}
</p>

<h4 class="title is-4">{% trans "Add a key" %}</h4>
<div class="columns">
    <div class="column">
        <form action="{% url 'authorized_keys:add' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="content">Key</label>
                <div class="control">
                    <textarea class="textarea" name="content" id="key_text" placeholder="{% trans "The content of your keyfile" %}" required="required"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label" for="title">Title</label>
                <div class="control">
                    <input class="input" type="text" name="title" id="key_title" placeholder="{% trans "Your key's title" %}" required="required">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">{% trans "Add Key" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if pubsshkey_list %}
<h4 class="title is-4">{% trans "Your Keys" %}</h4>

{% for pubsshkey in pubsshkey_list %}
    <form action="{% url 'authorized_keys:delete' pubsshkey.id %}" method="post">
        {% csrf_token %}
        <div class="box">
            <p>
                <b>{% firstof pubsshkey.title pubsshkey.comment %}</b>
                <span class="ssh-fingerprint is-family-code">{{ pubsshkey.fingerprint }}</span>
            </p>
            <div class="columns">
                <div class="column">
                    {% trans "Added" context "key creation date" %}: {{ pubsshkey.creation_date }}
                </div>
                <div class="column has-text-right">
                    <button class="button icon is-danger" type="submit"><i class="fas fa-trash fa-xs"></i></button>
                </div>
            </div>
        </div>
    </form>
{% endfor %}

{% endif %}

{% endblock %}