{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Add a key</h2>
<form action="{% url 'authorized_keys:add' %}" method="post">
{% csrf_token %}
    <label for="key">Key</label><br>
    <textarea name="content" id="key_text" placeholder="The content of your keyfile" required="required"></textarea>
    <br />

    <label for="title">Title (optional)</label><br>
    <input type="text" name="title" id="key_title" placeholder="your key's title">
    <br />

	<input type="submit" value="Add Key" />
</form>

{% if pubsshkey_list %}
<h2>Your keys</h2>

<ul>
{% for pubsshkey in pubsshkey_list %}
    <li><b>{% firstof pubsshkey.title pubsshkey.comment %}</b>&nbsp;{{ pubsshkey.fingerprint }}
        <div>
        <form action="{% url 'authorized_keys:delete' pubsshkey.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" />
        </form>
        </div>
    </li>
{% endfor %}
</ul>

{% endif %}