{% load static %}
{% load i18n %}
{% trans "Authorized SSH Keys" as page_title noop %}

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css"
			{% if settings.CUSTOMIZED_BULMA_URL %}
				href="{{ settings.CUSTOMIZED_BULMA_URL }}"
			{% else %}
				href="{% static 'authorized_keys/css/bulma.0.9.1.min.css' %}"
			{% endif %}
		>
		<link rel="stylesheet" type="text/css" href="{% static 'authorized_keys/css/authorized_keys.css' %}">

		<script defer src="{% static 'authorized_keys/js/fontawesome.5.14.0.all.js' %}"></script>
		<script src="{% static 'authorized_keys/js/authorized_keys.js' %}"></script>
	</head>
	<title>{{ page_title }}</title>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<span class="navbar-item">
			{% if settings.LOGO_URL %}
				<img class="brand-logo" src="{{ settings.LOGO_URL }}">
			{% else %}
				<i class="fas fa-key fa-2x brand-logo"></i>
			{% endif %}
			{{ page_title }}
		</span>


		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="authorized-keys-navbar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="authorized-keys-navbar" class="navbar-menu">
		<div class="navbar-start">
		</div>

		<div class="navbar-end">
			{% if settings.USE_I18N %}
			<div class="navbar-item">
				<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
					<input name="next" type="hidden" value="{{ redirect_to }}">
					<div class="buttons field has-addons">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
						<p class="control">
							<input name="language" type="submit" class="button {% if language.code == LANGUAGE_CODE %} is-active{% else %} is-light{% endif %}" value="{{ language.code }}" />
						</p>
					{% endfor %}
					</div>
				</form>
			</div>
			{% endif %}
			{% if user.is_authenticated %}
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-light" href="{% url 'logout' %}">
						{% trans "Log out" %}
					</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</nav>
<main>
<section class="section">
	<div class="container">
		<div class="content">
			<div class="columns">
				<div class="column is-three-fifths is-offset-one-fifth ">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</div>
</section>
</main>
</body>
</html>