{% extends 'base.html' %}
{% load i18n %} 

{% block content %}

<h1 class="title is-1">{% trans "Welcome!" %}</h1>

{% if user.is_authenticated %}
<p>
 	{% trans "You are successfully logged in." %}
</p>
<p>
	{% url 'authorized_keys:index' as ak_index_url %}
	{% blocktrans %}Continue now to the <a href="{{ ak_index_url }}">key management site</a>.{% endblocktrans %}
</p>
{% else %}
<p>
	{% trans "You are currently not logged in." %}
</p>

<p>
	{% if settings.OIDC_ENABLED %}
	<a class="button is-primary" href="{% url 'oidc_authentication_init' %}">
		<span class="icon"><i class="fas fa-sign-in-alt"></i></span>
		<span>{% trans "Login using OpenID Connect" %}</span>
	</a>
	{% else %}
	<div class="notification is-warning">
		<p>
			{% trans "OpenID Connect is disabled in the application settings." %}
		</p>
		<p>
			{% trans "Use other means of authentication, like local users and the admin interface." %}
		</p>
    </div>
	{% endif %}
</p>

{% endif %}

{% endblock %}